#about{
    background-image: url(img/fondo2.png);
     background-size: cover;
    height: 100vh;
}

.yo{
    line-height: 700px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.proyecto{
    background-image: url(img/Estudio.jpg);
    line-height: 700px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
}