#home{
    
    background-image: url(img/fondo1.png);
    background-size: cover;
    height: 100vh;
   
}


header{
    background: #718493;
}
#logo img{
   margin-top: 60px;
   margin-bottom: 60px;
}

#logo{
    width: 30%;
    margin: 0 auto;
}
.boton{
    background: transparent;
    border: 3px solid black;
    border-radius: 4px;
    width: 30%;
    height: 50px;
    color: black;
    font-size: 27px;
    margin-left: 13px;
    margin-top: 20px;
     font-family: 'Pathway Gothic One', sans-serif;
   
}
.boton:hover{
    background: black;
    color: white;
}
.text-navlink{
    color: #b2c7d8;
}
.text-navlink:hover{
    color: white;
}
#logo .input{
    width: 100%;
}

#logo #n{
    height: 50px;
    border-radius: 10px;
}

h3, h4{
    font-family: 'Pathway Gothic One', sans-serif;
    margin: 15px;
    font-weight: bold;
  
}

h3{
    font-size: 37px;
}

.new{
    width:20%;
    margin: 15px;
    height: 50px;
    background:#718493;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    cursor: pointer;
}
.caja{
    margin-top: 250px;
    margin-left: 100px;
}
