@import url('https://fonts.googleapis.com/css?family=Amaranth|Italianno|Philosopher|Rancho|Spectral+SC');

.triangle{
    height: 808px;
    width: 346px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("img/colorblock3.png") center no-repeat;
}

@media screen and (max-width: 600px){
.triangle {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    height: 467px;
    width: 200px;
    background-size: cover;
}

}

.header{
    z-index: 2;
    margin: 0;
    padding: 0;
}
.container{

    padding-right: 0;
    padding-left: 10px;
    width: 90%;
    
}
#home .menu{
color: black;
}
#home .header{
    background: none;
    border: none;
}

#home{
    height: 90vh;
    
    
}
.topleft {
    position: absolute;
    top: 22px;
    left: 26px;
}

#root{
    background: url("img/linea.png") no-repeat;
    position: absolute;
}
.caja{
    color: black;
}

#titulo{
height: 80vh;
width: 80%;
    
}

 .yo{
     background: transparent;
    width: 80%;
}
.mi{
    text-align: center;
}

#home #titulo h1 {
    font-family: 'Italianno', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 210px;
    color: black;
    line-height: 1;
    background:white;
    z-index: 2;
}

#home #titulo h3 {
    font-family: 'Rancho', cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    font-size: 46px;
    margin-bottom: 50px;
    max-width: 80%;

}

.subtitulo {
    clear: left;
    padding-left: 1%;
    background: white;
    position: relative;
    width: 75%;
    padding-bottom: 20px;
    z-index: 2;
}

#titulo{
    padding-left: 60px;
    margin-top: 200px;
}

#titulo h4{
     font-style: oblique;
     font-family: 'Rancho', cursive;
     font-size: 30px;
}

@media screen and (max-width: 768px){
   #home #titulo h1 {
    font-size: 90px;
    background: none;
    
}

#titulo{
    padding-left: 30px;
    width: 80%;
}
#root{
    background: none;
}

}

.foto{
    width: 100%;
   
}
.about{
    font-family: 'Rancho', cursive;
    font-size: 25px;
}
.icono{
    font-size: 17px;
    color: black; 
}
#awards{
    margin-bottom: 120px;
}
#awards h3{
text-align: center;
padding-top: 70px;
font-size: 36px;
font-family: 'Rancho', cursive;
font-weight: bold;
}

#portafolio{
    margin-top: 80px;
}
#portafolio h1{
font-size: 36px;
font-family: 'Rancho', cursive;
font-weight: bold;
text-align: center;
}

.parrafo{
    text-align: justify;
    font-family: 'Rancho', cursive;
  
}
#awards p{
    font-size: 22px;
}

.hackhaton{
    width: 100%;
}

#skills h1{
    font-family: 'Rancho', cursive;
    font-weight: bold;
    margin-bottom: 30px;
} 
.portada{
    text-align: right;
}
.mediano{
    text-align: center;
}

/*CONTACTO*/
#contacto{
  background: black;
  margin-top: 60px;
  margin-bottom: 10px;
  padding: 40px;
  font-family: 'Rancho', cursive;
}
#contacto h2{
 font-size: 37px;
}
#contacto p{
 font-size: 18px;
}
#contacto .contactame{
 font-size: 27px;
}

ul.cont-icon>li{
  display: inline-block;
  padding-right: 10px;
  padding-left:20px; 
  margin-top: 20px;
}

ul.cont-icon>li>a>i:hover{
  color: #29897e;
}

.redes{
  font-size: 0.9em;
  padding-top: 1%;
}

@-webkit-keyframes movimiento-diagonal {
   from {
      left: 0px;
   }
   
   to {
      left: 50px;
   }
}
  
.subtitulo {
   -webkit-animation-name: movimiento-diagonal;
   -webkit-animation-duration: 3s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-direction: alternate;/*para que vuelva a su posicion inicial */
   padding: 2px;
}
.h {
   -webkit-animation-name: movimiento-diagonal;
   -webkit-animation-duration: 3s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-direction: alternate;/*para que vuelva a su posicion inicial */
}
.text-white{
	color: white;
}
/*SKILLS*/
.skillbar {
  font-family: 'Open Sans', 'sans-serif';
  position:relative;
  display:block;
  margin-bottom:30px;
 
  background:#eee;
  height:35px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  font-weight:bold;
  font-size:13px;
  color:#fff;
  background:black;
  width: 110px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-title span {
  display:block;
  background:rgba(0, 0, 0, 0.1);
  padding:0 20px;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-bar {
  height:25px;
  width:0px;
  background:#6adcfa;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:13px;
  height:35px;
  line-height:35px;
  color:#444;
  color:rgba(0, 0, 0, 0.4);
}

.success{
    background: #29897e;
}
.success1{
    background: #50b7a9;
}
.success2{
    background: #57c4c0
}
.success3{
    background: #a6e5dd;
}
.success4{
    background: #9ce4ce;
}

#skills{
    text-align: right;
}
#skills h1{
    font-weight: bold;
    text-align: center;
}


/*SECCION DE PROYECTOS WEB*/

.divFondo{
  width: 93%;
  height: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  padding: 18% 10% 10% 10%;
  transition-duration: 1s;
  
}
.divFondo h3{
  font-size: 2em;
}
.divFondo p{
  font-size: 1em;
  color: #fff;
}
.divFondo:hover{
  opacity: 1;
  transition-duration: 1s;
  background-color: rgba(51, 68, 75, 0.61); 
}

.borde-img{
  border: 5px #F7F7F7 solid ;
}

#mySidenav a {

    position:  fixed; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 15px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
    top: 20px;
    background-color: black;
}

#blog {
    top: 80px;
    background-color: black; /* Blue */
}


#projects {
    top: 140px; 
background: #29897e;
}
#contact {
    top: 200px;
    background-color: black; /* Light Black */
}
.btn-cv {
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 6%;
    font-size: 20px;
    background: white;
}
.cv {
    border: none;
    color: black;
    text-decoration: none;
}